<div class = "h1"><h1>Skyscraper Quartett</h1></div>
<div class="output">

  <div class="header"> <h3>Empire State Building</h3></div>
  <div> <img src="assets/2.jpeg" class="esb_img"></div>
  <div class="div_height"> <button type="button" class="btn btn-primary"><div class="Height">Height:{{skyscrapers[0].height}} </div></button></div>

  <div class="div_floors"><button type="button" class="btn btn-primary"><div class="floor">Floors:{{skyscrapers[0].floor}} </div></button></div>

  <div class="div_elevators"><button type="button" class="btn btn-primary"><div class="elevator">Elevators:{{skyscrapers[0].elevator}} </div></button></div>

</div>
<div class="output2">

  <div class="header"> <h3>Burj Khalifa</h3></div>
  <div> <img src="assets/3.jpeg" class="esb_img"></div>
  <div class="div2_height"> <button type="button" class="btn btn-primary"><div class="Height">Height:{{skyscrapers[1].height}} </div></button></div>

  <div class="div2_floors"><button type="button" class="btn btn-primary"><div class="floor">Floors:{{skyscrapers[1].floor}} </div></button></div>

  <div class="div2_elevators"><button type="button" class="btn btn-primary"><div class="elevator">Elevators:{{skyscrapers[1].elevator}} </div></button></div>

</div>
